<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add Student</h1>
<form action = "/saveadddetails" method="post">
    <table>
        <tr><td>ID</td><td><input type="text" name="Id"></td></tr>
        <tr><td>Name</td><td><input type="text" name="Name"></td></tr>
        <tr><td>M1</td><td><input type="text" name="M1"></td></tr>
        <tr><td>M2</td><td><input type="text" name="M2"></td></tr>
        <tr><td>M3</td><td><input type="text" name="M3"></td></tr>

        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
</form>
</body>
</html>