<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       h3 {
    color: red;
    font-size: 50px;
    text-align: center;
}
    </style>
</head>
<body>
<h3>Calculator</h3>
<a href="/add">Addition operation</a><br><br>
<a href="/sub">Subraction operation</a><br><br>
<a href="/mui">Multiplication operation</a><br><br>
<a href="/div">Division operation</a><br><br><br>

<a href="/vadd">View Addition</a><br><br>
<a href="/vsub"> View Subraction</a><br><br>
<a href="/vmui"> View Multiplication</a><br><br>
<a href="/vdiv"> View Division</a><br><br><br>


<a href="/dadd">delete Addition</a><br><br>
<a href="/dsub"> delete Subraction</a><br><br>
<a href="/dmui"> delete Multiplication</a><br><br>
<a href="/ddiv"> delete Division</a><br><br>

</body>
</html>