<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
            h1 {
    color:Blue;
    font-size: 50px;
    text-align: center;
}
    </style>
</head>
<body>
<h1>Subrsction</h1>

<form action = "/Subractiondetails" method="post">
    <table>
        <tr><td>Number 1</td><td><input type="text" name="Number 1"></td></tr>
        <tr><td>Number 2</td><td><input type="text" name="Number 2"></td></tr>

        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
    </form>
<a href="/">Home page</a><br>
</body>
</html>